.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid dimgray;
}

.header-heading {
  font-size: 32px;
  font-family: 'Roboto';
}

.header-txt {
  display: none;
}

.tabs-list {
  display: flex;
  align-items: flex-end;
  padding-left: 0px;
  margin-top: 32px;
}

.list-con {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.cart {
  font-size: 70px;
  align-self: center;
  justify-content: center;
  padding: 18px;
}

.cart-text {
  font-size: 10px;
  color: #ffffff;
  background-color: orange;
  border: 50%;
  width: 20px;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .tabs-list {
    margin-top: 48px;
  }

  .header-txt {
    font-size: 16px;
    font-family: 'Roboto';
    align-self: center;
  }

  .cart {
    font-size: 100px;
  }
}
